<app-header></app-header>

<section class="homepage">
  <div class="container">
    <div class="input-container mb-5  mt-1">
      <input (keydown.enter)="submitForm()"  type="text" class="task-input form-control" [(ngModel)]="inputValue"
         placeholder="Try type 'buy my old phone tomowrow'">
      <i class="bi bi-box-arrow-down" (click)="submitForm()"></i>
    </div>
    <div class="section-title d-flex algin-items-center justfay-content-center mb-2">
      <h5>{{date | customDate}}</h5>
    </div>
    <div class="inner-container" >
        <cdk-drag-drop-connected-sorting-example [eventEmitter]="parentEmitter"></cdk-drag-drop-connected-sorting-example>
    </div>
  </div>
</section>
<p-toast  position="bottom-right" [showTransitionOptions]="'500ms'"></p-toast>

<app-footer></app-footer>
