<div class="container header">
  <div class="d-flex justify-content-between">
    <div class="logo " [routerLink]="''">
      <h1 class="h3 fw-bold mb-4"><i class=" h3 bi bi-box pr-1 d-inline-block"></i> ToDo</h1>
    </div>
  </div>
</div>

<div class="error-404">
  <div class="container">
    <div class="row">
      <div class="col col-lg-6 col-md-12 col-12 order-lg-2">
        <img  src="../../../../assets/images/404 Error Page not Found with people connecting a plug-rafiki.svg" alt="" class="error--image img-fluid">
      </div>
      <div class="col col-lg-6 col-md-12 col-12 d-flex align-items-center order-lg-1">
          <div class="content">
            <p class="sub--head">
              Page not found
             </p>
             <p class="main--head">
               ERROR 404
             </p>
             <p class="main--p">
              Sorry, we can't seem to find the pages you're looking for Try going back to previous page or Contact us for more information
              <div class="d-flex mb-4">
                <a href='' class="back--btn" [routerLink]="''">
                  <i class="bi bi-arrow-left"></i>
                  Back To Home
                </a>
                <a class="visit--btn ">Visit our help center</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

